<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>TUTORS 申請フォーム</title>
<link
	href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
	integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI="
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body th:with="authUser=${#authentication.principal.user}">
	<header class="header" th:insert="top/top::top-header(${authUser})"></header>
	<div class="top-wrapper">
		<h1>契約申請</h1>
		<h2>以下の情報で家庭教師を申請する</h2>
		<div class="teacher-card">
			<div class="teacher-card-left">
				<a th:href="@{'/profile/'+${teacher.teacherUserId}}"> <img
					th:src="@{'/image/'+${teacher.teacherUserId}}"
					class="teacher-card-image" />
				</a>
			</div>
			<div class="teacher-card-middle">
				<div class="teacher-card-middle-top">
					<a th:href="@{'/profile/'+${teacher.teacherUserId}}"
						th:text="${teacher.user.userName}"></a>
					<ul class="teacher-subject-tag-list">
						<th:block th:each="subject:*{teacher.user.subjects}">
							<li th:text="${subject?.subjectName}" class="teacher-subject-tag"></li>
						</th:block>
					</ul>
				</div>
				<div class="teacher-card-middle-center">
					<p th:text="${teacher.user.selfIntroduction}"></p>
				</div>
				<div class="tutor-card-bottom">
					<form class="tutor-application-form"
						th:action="@{'/profile/'+${teacher?.teacherUserId}+'/matching'}"
						th:object="${matchingForm}" method="post">
						<p>教科:</p>
						<div class="select-box tutor-select-box">
							<select id="regionId" name="regionId">
								<option value="-1" selected>選択してください</option>
								<option th:each="region : ${regionList}"
									th:value="${region.regionId}" th:text="${region.regionName}"
									th:selected="${region.regionId==user.region?.regionId}"></option>
							</select>
						</div>
						<div class="err"
							th:each="err,st : ${#lists.sort(#fields.errors('regionId'))}"
							th:text="${err}" th:if="${st.index == 0}">エラーメッセージが出力されます</div>
						<p>時給:</p>
						<div class="select-box tutor-select-box">
							<select id="wage" name="wage" th:errorclass="err">
								<option value="-1" selected>選択する</option>
								<option th:each="i : ${#numbers.sequence(1000, 10000,100)}"
									th:value="${i}" th:text="${i}+'円〜'"
									th:selected="${i==teacher?.minWage}"></option>
							</select>
						</div>
						<div class="err"
							th:each="err,st : ${#lists.sort(#fields.errors('wage'))}"
							th:text="${err}" th:if="${st.index == 0}">エラーメッセージが出力されます</div>
						<input type="submit" value="家庭教師を申請"
							class="tutor-btn tutor-application-btn" />
					</form>
				</div>
			</div>
			<div class="teacher-card-right">
				<p>指導可能な日程</p>
				<table>
					<tr th:each="lessonMenu:*{teacher.user.lessonMenus}">
						<td th:text="${lessonMenu?.id.dayOfTheWeek}"></td>
						<td th:text="${lessonMenu?.lessonMenuStartTime}+' 〜 '"></td>
						<td th:text="${lessonMenu?.lessonMenuEndTime}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<footer th:include="login/index::footer"></footer>
	<script src="/js/script.js"></script>
</body>
</html>